  <div class="center jumbotron bgsw">
  	<script type="text/javascript">
     jQuery(function($) {
    $('.bgsw').bgSwitcher({
        images: ['assets/family1.jpg', 'assets/family2.jpg', 'assets/family3.jpg', 'assets/family4.jpg', 'assets/family5.jpg', 'assets/family6.jpg',],
        shuffle: "true",
        interval: 6000,
        effect: "fade"
      });
    });
    </script>
   <h1>その一瞬をいつでも、いつまでも...</h1>
    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-info" %>
  </div>