<% provide(:title, "cherishとは") %>
 <body class="box">
  <div class="about-menu">

    <h3>cherishとは</h3>
    <p>
     家族や大切な人との思い出の写真や動画を共有できる画像動画共有アプリです。
    </p>

    <h3>cherishを作ったきっかけ</h3>
    <p>昨年、弟に子供が生まれ、定期的にLineで送られてくるその可愛すぎる甥っ子の画像や動画を、気軽に家族や親戚、仲の良い友人間で共有できるアプリがあったら良いな、と思いたったのが始まりでした。<br>機能がありすぎて逆に使いづらかったり、シンプルでも動画のアップロード時間に制限があったりしない、“なるべくカンタンに操作で使いこなせる画像動画共有アプリ”をコンセプトに開発してみました。
    </p>

    <h4>[実装機能]</h4>
    <ul>
    <li>新規登録/ログイン機能</li>
    <li>SNSログイン機能</li>
    <li>ログアウト機能</li>
    <li>新規登録時アカウント有効化機能</li>
    <li>パスワードリセット機能</li>
    <li>フォロー/解除機能</li>
    <li>記事一覧表示機能</li>
    <li>記事詳細表示機能</li>
    <li>記事投稿機能</li>
    <li>記事削除機能</li>
    <li>画像アップロード機能</li>
    <li>動画アップロード機能</li>
    <li>ページネーション機能</li>
    <li>ユーザー検索機能</li>
    <li>投稿内容検索機能</li>
    <li>レスポンシブ対応</li>
    </ul>

    <div id="name">
     <p>cherish開発者：<%= link_to "Yōsuke", "https://yo-suke-blog.com/" %></p>
    </div>
　 </div>
 </body>
