<% provide(:title, "cherishとは") %>
   <body class="box">
    <div class="about-menu">


    <h3>cherishとは</h3>
    <p>
     家族の思い出や大切な人との思い出の写真や動画を共有する画像動画共有アプリです。
    </p>

    <h3>cherishを作ったきっかけ</h3>
    <p>昨年、甥っ子が生まれ、定期的にLineで送られてくるその可愛すぎる甥っ子の画像や動画を、気軽に家族や親戚、仲の良い友人間で共有できるアプリがあったら良いな、と思いたったのが始まりでした。<br>機能がありすぎて逆に使いづらかったり、シンプルでも動画のアップロード時間に制限があったりしない、また、高齢でスマホの操作が不得手な親戚でもカンタンに使いこなせる操作性の画像動画共有アプリをコンセプトに開発してみました。
    </p>
    <div id="name">
     <p>cherish開発者：Yōsuke</p>
  </div>
</div>
</div> 
