@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

$gray-medium-light: #eaeaea;


/*home.html.erb*/

.user_info > h1 {
  font-weight: bold;
 }

/*not_logged_in.html.erb*/

.jumbotron {
  max-width: 100%;
  height:auto;
 }

.bgsw {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -30px;
  margin-bottom: -10px;
  height: 460px;
  }

.jumbotron h1 {
  font-family: 'Moon';
  src: font-url('Moon2.0-Bold.otf');
  font-size:40px;
  padding: 10%;
  color: white;
  text-shadow: 1px 1px 2px gray;
}

body {
  font-weight: bold;
  font-family: 'Moon';
  src: font-url('Moon2.0-Bold.otf');
  padding-top: 120px;
  margin-top: 10px;
  padding-bottom: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/*show.html.erb*/

.show > h1 , h3 {
  font-weight: bold;
 }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.input-group-btn .btn {
  font-weight:bold;
  color: #909090;
}
.search-nav {
  width: 300px;
  padding-top: 8px;
}

.navbar-default {
  border-bottom:none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: #5BC0DE;
  }
 }

.navbar-right  {
  font-weight: bold;
}

.navbar-fixed-top {
  background-color:#c2c2c2;
  }

#logo {
  font-weight: bold;
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: white;
  /*text-shadow: 1px 1px 2px gray;*/
  letter-spacing: -1px;
  padding-top: 7px;
  font-family: 'Moon';
  src: font-url('Moon2.0-Bold.otf');
  &:hover {
    text-shadow: 1px 1px 2px #515151;
    text-decoration: none;
  }
}


/*************************************/
/* footerスマホレスポンシブ */
/*PC表示の際はボトムメニューは表示しない*/
@media(min-width: 768px){
    .bottom-menu{display:none; }
}
@media(max-width: 768px){
    .footer{display:none; }
}

ul.bottom-menu {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height:45px;/*高さ*/
    margin:0;
    padding:0;
    background-color:#909090;/*背景色*/
    border-top:2px solid #909090;/*バーの上の線*/
    border-bottom:2px solid #909090;/*バーの下の線*/
    z-index:30;}

  .bottom-menu > li {
    margin-top: 12px; 
    margin-left:15px;
    float:left;
    width:25%;
    color: white;
    list-style-type:none;
    text-align:center;
    text-decoration:none;
    font-size:13px;}


/* footer PC表示*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
    font-size: 13px;
  }
  ul {
      float: right;
      list-style: none;
    li { 
       margin: 0 10px;
       font-size: 13px;
       float: left;
       margin-left: 15px;
    }
  }
}

/* footerメニュー */

.footer-menu {
  margin-top: -60px;
}

.footer-menu > h3 {
    line-height: 30px;

}

.footer-menu > p {
  line-height: 25px;
}

.about-menu > h3 {
  line-height: 40px;
}

.about-menu > h4 {
  font-weight: bold;
  margin-top: 40px;
  margin-left: 40px;
  line-height: 40px;
  color: black;
}
.about-menu {
  margin-top: -60px;
}

.about-menu > p {
  line-height: 35px;
}

#name {
  margin-top: 25px;
  line-height: 30px;
  font-size: 16px;
}


/*
img {
  display: none;
}*/

/* miscellaneous - 雑多な - */

.debug_dump {
 clear: both;
 flort: left;
 width: 100%;
 margin-top: 45px;
 @include box-sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/*************************************/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
} 

/*forms*/

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    flont-weight:normal;
  }
}

#session_remember_me{
  width: auto;
  margin-left: 0;
}

/* Users index */

.users{
  list-style:none;
  margin:0;
  li{
   overflow:auto;
   padding: 10px 0;
   border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.video-content {
  vertical-align: top;
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}